.cards-add-form {
  min-width: 300px;
  width: 100%;
  max-width: 800px;
}

.cards-container {
  padding-top: 40px;
}

.cards-add {
  // width: 25%;
  padding-bottom: 20px;
}

.cards-add-button {
  float: right;
}

.cards-table-container {
  height: 400px;
  overflow: auto;
}

.cards-remove-icon {
  &:hover {
    cursor: pointer;
    color: red;
  }

  margin-left: 10px;

}

table {
  width: 100%;
}
