.spacer {
  flex: 1 1 auto;
}

.nav-div {

  cursor: pointer;
  font-size: 15px;
  color: white;

  &:hover {
    color: lightgray;
  }

}

.nav-cards {
    padding-left:60px
}

a {
  opacity: 1;
  text-decoration: none;
}

.admin-menu {
  padding-right: 30px;
}

.navigation {
   height: 47px;
}
