<mat-toolbar class="navigation" color="basic">

  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
        (click)="activeLink = link.name"
        [active]="activeLink == link.name"
        [routerLink]="link.route"> {{link.name}} </a>
  </nav>

  <div class="nav-div" mat-button [matMenuTriggerFor]="cardsMenu" (click)="openCardsMenu()">Cards</div>

  <mat-menu #cardsMenu="matMenu">
    <a href="/cards/{{item.id}}" mat-menu-item *ngFor="let item of cards | async">{{item.name}}</a>
  </mat-menu>
  <div class="spacer" flex></div>
  <div class="admin-menu"><app-admin></app-admin></div>
  <div><app-login></app-login></div>
</mat-toolbar>

