.spacer {
  flex: 1 1 auto;
}

.nav-span {
  margin-left: 50px;
  cursor: pointer;

  &:hover {
    color: gray;
  }

  &:first-child {
    margin-left: 20px;
  }

}

a {
  color: inherit;
  text-decoration: none;
}

 .admin-menu {
  padding-right: 30px;
 }
